{% extends "main/wrapper.html" %}

{% block content %}

{% include "main/includes/header.html" %}
{% if user.is_authenticated %}
	<header class="account_header">
		<div class="pic_block">
			<div class="img_border">
				<div class="account_img" style="background: url({{user_info.account_pic}}) no-repeat center top / cover"></div>
			</div>
			<a href="{% url 'logout' %}"><div class="exit">Выйти</div></a>
		</div>
		<div class="account_fullname">
			<h2 class="name">{{user_info.account_name}}</h2>
			<h2 class="surname">{{user_info.account_surname}}</h2>
		</div>
	</header>
	<section class="account_info">
		<div class="pair">
			<div class="info">
				<div class="main">
					<h3 id="races_participated">Участий в гонках: <span>{{user_info.races_participated}}</span></h3>
					<h3 id="races_won">Гонок выигранно: <span>{{user_info.races_won}}</span></h3>
					<h3 id="reg_date">Дата регистрации: <span>{{user_info.account_create_date|date:"d-M-Y"}}</span></h3>
				</div>
			</div>
			<div class="about">
				<h4>О гонщике:</h4>
				<p>{{user_info.about}}</p>
				<a class="edit"></a>
			</div>
		</div>
		<div class="pair">
			<div class="upcoming_races">
				<h4>Гонки с моим участием:</h4>
				{% for race in upcoming_races %}
					<p>{{race}}</p>
				{% endfor %}
				<h4 style="margin-bottom: 20px">Прошедшие:</h4>
				{% for race in races_past %}
					<p>{{race}}</p>
				{% endfor %}
			</div>
			<div class="transaction_history">
				<h4>История сделок:</h4>
				{% for transaction in transactions %}
					{% if transaction.coeficient == 0 %}
						<p>{{transaction.bet_date|date:"d,m,y H:i"}} ({{transaction.bet_code}}) {{transaction.stake}} евро на свою победу с общим выигрышем {{transaction.jackpot}}
						{% if transaction.payment_method == 'cash' %}
							<div>
								<i class="material-icons" style="color: #B0FF52">euro_symbol</i>
								<span class="popup_text">Наличными</span>
							</div>
						{% endif %}
						{% if transaction.payment_method == 'card' %}
							<div>
								<i class="material-icons" style="color: #B0FF52">credit_card</i>
								<span class="popup_text">Денежный перевод</span>
							</div>
						{% endif %}
		
						{% if transaction.won == 'Waiting' %}
							<div>
								<i class="material-icons" style="color: #FFF52E">history</i>
								<span class="popup_text">Ожидание результатов</span>
							</div>
						{% endif %}
						{% if transaction.won == 'Won' %}
							<div>
								<i class="material-icons" style="color: #47FF6F">check_circle_outline</i>
								<span class="popup_text">Победа</span>
							</div>
						{% endif %}
						{% if transaction.won == 'Lost' %}
							<div>
								<i class="material-icons" style="color: #FF615C">highlight_off</i>
								<span class="popup_text">Проигрышь</span>
							</div>
						{% endif %}

						{% if transaction.status == 'True' %}
							<div>
								<i class="material-icons" style="color: #47FF6F">assignment_turned_in</i>
								<span class="popup_text">Ставка оплачена</span>
							</div>
						{% endif %}
						{% if transaction.status == 'False' %}
							<div>
								<i class="material-icons" style="color: #FF615C">assignment_late</i>
								<span class="popup_text">Ожидание оплаты</span>
							</div>
						{% endif %}

						{% if transaction.won == 'Won' %}
							{% if transaction.status_won == 'True' %}
								<div style="position: absolute; right: 100px">
									<i class="material-icons" style="color: #47FF6F">assignment_turned_in</i>
									<span class="popup_text">Выигрышь получен</span>
								</div>
							{% endif %}
							{% if transaction.status_won == 'False' %}
								<div style="position: absolute; right: 100px">
									<i class="material-icons" style="color: #FF615C">assignment_late</i>
									<span class="popup_text">Выиграшь не получен</span>
								</div>
							{% endif %}
						{% endif %}
					{% endif %}
					
					{% if transaction.coeficient != 0 %}
						<p>{{transaction.bet_date|date:"d,m,y H:i"}} ({{transaction.bet_code}}) {{transaction.stake}} евро на победу гоньщика {{transaction.winner_name}} с коэфицентом {{transaction.coeficient}}
						{% if transaction.payment_method == 'cash' %}
							<div>
								<i class="material-icons" style="color: #B0FF52">euro_symbol</i>
								<span class="popup_text">Наличными</span>
							</div>
						{% endif %}
						{% if transaction.payment_method == 'card' %}
							<div>
								<i class="material-icons" style="color: #B0FF52">credit_card</i>
								<span class="popup_text">Денежный перевод</span>
							</div>
						{% endif %}
		
						{% if transaction.won == 'Waiting' %}
							<div>
								<i class="material-icons" style="color: #FFF52E">history</i>
								<span class="popup_text">Ожидание результатов</span>
							</div>
						{% endif %}
						{% if transaction.won == 'Won' %}
							<div>
								<i class="material-icons" style="color: #47FF6F">check_circle_outline</i>
								<span class="popup_text">Победа</span>
							</div>
						{% endif %}
						{% if transaction.won == 'Lost' %}
							<div>
								<i class="material-icons" style="color: #FF615C">highlight_off</i>
								<span class="popup_text">Проигрышь</span>
							</div>
						{% endif %}

						{% if transaction.status == 'True' %}
							<div>
								<i class="material-icons" style="color: #47FF6F">assignment_turned_in</i>
								<span class="popup_text">Ставка оплачена</span>
							</div>
						{% endif %}
						{% if transaction.status == 'False' %}
							<div>
								<i class="material-icons" style="color: #FF615C">assignment_late</i>
								<span class="popup_text">Ожидание оплаты</span>
							</div>
						{% endif %}
					{% endif %}
					</p>
					<hr>
					<br>
				{% endfor %}
			</div>
		</div>

		<div class="popUp">
			<div class="pop_cont">
				<div class="content">
					<div class="close">+</div>
					<div class="edit_form">
						<form method="post" action="edit/">
							{% csrf_token %}
							<textarea name="about" placeholder="О вас...">{{user_info.about}}</textarea>
							<button type="submit">Изменить</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% else %}
	<header class="no_user">
		<div class="info">
			<h1>Вы не авторизованны. Войдите в свой аккаунт или создайте новый.</h1>
			<a href="{% url 'login' %}"><input id="login" value="Войти в свой аккаунт"></a>
			<a href="{% url 'register' %}"><input id="account_create" value="Создать аккаунт"></a>
		</div>
	</header>
	<section>
		
	</section>
{% endif %}

{% include "main/includes/footer.html" %}

{% endblock %}
