<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}CityBee Race{% endblock %}</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Jura|Sulphur+Point&display=swap" rel="stylesheet">
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}" ></script>
	<script type="text/javascript" src="{% static 'js/media-queries.js' %}" ></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<style class="media_style">

</style>
<div class="style_notebook" style="display: none;">
menu{
	height: 120px;
}
#time_before_race{
	font-size: 25pt;
}
.info h2{
	font-size: 22pt !important;
}
h1{
	font-size: 20pt;
}
p{
	font-size: 16pt;
}
.notification{
	display: block;
}
.notification .info{
	padding-bottom: 20px;
}
.img_border{
	height: 250px;
	width: 250px;
	margin-top: 20px;
}
.function .content{
	height: 450px;	
}
.function .info{
	height: 300px;
}
.driver_details .info{
	display: block;
}
.driver_details .header{
	grid-template-columns: 250px 1fr;
}
.driver_details .img_background{
	height: 250px; 
	width: 250px; 
}
.races_for_bets{
	grid-template-columns: 1fr 1fr 1fr;
}
.race{
	height: 700px;
	display: block;
}
.race .img_border{
	margin-top: 50px;
}
#registered_for_race{
	transform: translate(50px, 0) rotate(-15deg)
}
.race .img{
	height: 235px;
	width: 235px;
}
.account_info .pair:nth-child(1){
	grid-template-columns: 1fr 1fr;
}
.account_header .img_border{
	height: 350px;
    width: 350px;
}
</div>
<div class="style_phone" style="display: none;">
menu{
	height: 120px;
}
#time_before_race{
	font-size: 25pt;
}
.info h2{
	font-size: 20pt !important;
}
h1{
	font-size: 10pt;
}
p{
	font-size: 11.5pt;
}
.notification{
	display: block;
}
.notification .info{
	padding-bottom: 20px;
}
.img_border{
	height: 250px;
	width: 250px;
	margin-top: 20px;
}
.function .content{
	height: 450px;	
}
.function .info{
	height: 300px;
}
.drivers{
	grid-template-columns: 1fr 1fr 1fr;
}
.driver_details .info{
	display: block;
}
.driver_details .header{
	grid-template-columns: 250px 1fr;
}
.driver_details .img_background{
	height: 250px; 
	width: 250px; 
}
.races_for_bets{
	grid-template-columns: 1fr 1fr 1fr;
}
.race{
	height: 700px;
	display: block;
}
.race .img_border{
	margin-top: 50px;
}
#registered_for_race{
	transform: translate(50px, 0) rotate(-15deg)
}
.race .img{
	height: 235px;
	width: 235px;
}
.account_info .pair:nth-child(1){
	grid-template-columns: 1fr 1fr;
}
.account_header .img_border{
	height: 350px;
    width: 350px;
}
</div>
<body>
	{% block content %}
	{% endblock %}
</body>
</html>